#timer {
  width: 100%;
  height: 25px;
  background-color: white;
}

#timeleft {
  width: 100%;
  height: 100%;
  background-color: grey;
  transition: all 0.3s linear;
  visibility: hidden;
}

#container {
  /* gesamte Spielfläche */
  width: 90vmin;
  height: 90vmin;
  position: relative;
  margin: auto;
}

.otree-title {
  display: none;
}

#overlay, #overlayOpaque, #overlayWrong, #overlayCorrect {
  /* nur für Kontrollfragen relevant */
  display: none;
}

.partner {
  /* Geldtöpfe */
  border-radius: 15%;
  width: 20%;
  height: 20%;
  position: absolute;
  z-index: -2;
  pointer-events: auto;
}

#partnerLeft, .overlayLeft {
  /* Geldtopf links */
  background-color: rgb(255,255,1);
  top: 40%;
  left: 2.5%;
  box-shadow: 10px 10px rgb(204,204,0);
}

#partnerTop, .overlayTop {
  /* Geldtopf oben */
  background-color: rgb(98,190,1);
  top: 2.5%;
  left: 40%;
  box-shadow: 10px 10px rgb(78,152,1);
}

#partnerRight, .overlayRight {
  /* Geldtopf rechts */
  background-color: rgb(192,0,0);
  top: 40%;
  right: 2.5%;
  box-shadow: 10px 10px rgb(153,0,0);
}

#partnerBottom, .overlayBottom {
  /* Geldtopf unten */
  left: 40%;
  bottom: 2.5%;
  background-color: rgb(104,132,195);
  box-shadow: 10px 10px rgb(83,105,156);
}

.mainpot {
  /* Gemeinschaftsgeldtopf in der Mitte */
  border-radius: 15%;
  width: 30%;
  height: 30%;
  left: 35%;
  top: 35%;
  position: absolute;
  background-image: url('../img/main.png');
  background-position: center;
  box-shadow: 10px 10px rgb(150,150,150);
}

.figure {
  /* Spielerfiguren neben den Töpfen */
  height: 10%;
  position: absolute;
  z-index: 2;
}

.figureLeft {
  top: 35%;
  left: 23%;
}

.figureTop {
  top: 22%;
  left: 59%;
}

.figureRight {
  top: 55%;
  left: 71%;
}

.figureBottom {
  top: 68%;
  left: 35%;
}

.coins {
  width: 4%;
  position: absolute;
  transition: all 1.5s;
}

#cl1 {
  top: 41%;
  left: 27%;
}

#cl2 {
  top: 44.5%;
  left: 27%;
}

#cl3 {
  top: 48%;
  left: 27%;
}

#cl4 {
  top: 51.5%;
  left: 27%;
}

#cl5 {
  top: 55%;
  left: 27%;
}

#ct1 {
  top: 27%;
  left: 40%;
}

#ct2 {
  top: 27%;
  left: 44%;
}

#ct3 {
  top: 27%;
  left: 48%;
}

#ct4 {
  top: 27%;
  left: 52%;
}

#ct5 {
  top: 27%;
  left: 56%;
}

#cr1 {
  top: 41%;
  left: 70%;
}

#cr2 {
  top: 44.5%;
  left: 70%;
}

#cr3 {
  top: 48%;
  left: 70%;
}

#cr4 {
  top: 51.5%;
  left: 70%;
}

#cr5 {
  top: 55%;
  left: 70%;
}

#cb1 {
  top: 70%;
  left: 40%;
}

#cb2 {
  top: 70%;
  left: 44%;
}

#cb3 {
  top: 70%;
  left: 48%;
}

#cb4 {
  top: 70%;
  left: 52%;
}

#cb5 {
  top: 70%;
  left: 56%;
}

.rotatedcoin {
	transform: rotate(90deg);
}

.arrow {
  /* Pfeile zum Verteilen der Münzen */
  position: absolute;
  left: 47%;
  height: 6%;
  visibility: hidden;
  /* img in den Vordergrund */
  z-index: 1;
  transition: all 1s;
}

#arrow-up {
  /* Pfeil Richtung Geldtopf in der Mitte */
  top: 62.5%;
}

#arrow-down {
  /* Pfeil Richtung Geldtopf unten */
  top: 74.5%;
}

.otree-btn-next {
    all: initial;
    background-image: url('../img/confirm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#confirmbutton {
  /* Button, der Auswahl bestätigt */
  width: 10%;
  height: 10%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  visibility: hidden;
  transition: all 1s;
  transition-timing-function: ease;
}

.fixtopright {
  position: fixed;
  opacity: 1 !important;
  top: 0;
  right: 0;
}
