.otree-btn-next {
    all: initial;
    background-image: url('confirm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: 0px;
    width: 100px;
    height: 100px;
}

.hidden {
    visiblity: hidden;
}

#container {
  /* gesamte Spielfläche */
  width: 800px;
  height: 800px;
  position: relative;
  border: solid black;
}

.partner {
  /* Geldtöpfe */
  border-radius: 15%;
  width: 20%;
  height: 20%;
  position: absolute;
  z-index: -2;
}

#partnerLeft {
  /* Geldtopf links */
  background-color: rgb(255,255,1);
  top: 40%;
  left: 2.5%;
}

#partnerTop {
  /* Geldtopf oben */
  background-color: rgb(98,190,1);
  top: 2.5%;
  left: 40%;
}

#partnerRight {
  /* Geldtopf rechts */
  background-color: rgb(192,0,0);
  top: 40%;
  right: 2.5%;
}

#partnerBottom {
  /* Geldtopf unten */
  left: 40%;
  bottom: 2.5%;
  background-color: rgb(104,132,195);
}

#mainpot {
  /* Gemeinschaftseldtopf in der Mitte */
  border-radius: 15%;
  width: 30%;
  height: 30%;
  left: 35%;
  top: 35%;
  position: absolute;
  background-image: url('main.png');
  background-position: center;
}

.figure {
  /* Spielerfiguren neben den Töpfen */
  height: 10%;
  position: absolute;
  z-index: 2;
}

.figureLeft {
  top: 35%;
  left: 23%;
}

.figureTop {
  top: 22%;
  left: 59%;
}

.figureRight {
  top: 55%;
  left: 71%;
}

.figureBottom {
  top: 68%;
  left: 35%;
}

.animal {
  /* Tierfiguren neben den Spielfiguren */
  width: 8%;
  position: absolute;
  z-index: 1;
}

.animalLeft {
  top: 34%;
  left: 15%;
}

.animalTop {
  top: 16%;
  left: 61%;
}

.animalRight {
  top: 61%;
  left: 78%;
}

.animalBottom {
  top: 80%;
  left: 31%;
}

.coins {
  width: 4%;
  position: absolute;
  transition: all 1.5s;
}

#cl1 {
  top: 41%;
  left: 27%;
}

#cl2 {
  top: 44.5%;
  left: 27%;
}

#cl3 {
  top: 48%;
  left: 27%;
}

#cl4 {
  top: 51.5%;
  left: 27%;
}

#cl5 {
  top: 55%;
  left: 27%;
}

#ct1 {
  top: 27%;
  left: 40%;
}

#ct2 {
  top: 27%;
  left: 44%;
}

#ct3 {
  top: 27%;
  left: 48%;
}

#ct4 {
  top: 27%;
  left: 52%;
}

#ct5 {
  top: 27%;
  left: 56%;
}

#cr1 {
  top: 41%;
  left: 70%;
}

#cr2 {
  top: 44.5%;
  left: 70%;
}

#cr3 {
  top: 48%;
  left: 70%;
}

#cr4 {
  top: 51.5%;
  left: 70%;
}

#cr5 {
  top: 55%;
  left: 70%;
}

#cb1 {
  top: 70%;
  left: 40%;
}

#cb2 {
  top: 70%;
  left: 44%;
}

#cb3 {
  top: 70%;
  left: 48%;
}

#cb4 {
  top: 70%;
  left: 52%;
}

#cb5 {
  top: 70%;
  left: 56%;
}

.hiddenCoin {
  visibility: hidden;
}

.otree-btn-next {
    all: initial;
    background-image: url('confirm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#confirmbutton {
  /* Button, der Auswahl bestätigt */
  width: 10%;
  height: 10%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  visibility: hidden;
}
