{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style>
    .otree-btn-next {
        all: initial;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border: 0px;
        width: 300px;
        height: 300px;
    }

    #turtle {
        background-image: url({% static 'public_good_kids/turtle.png' %});
        float: left;
    }

    #elephant {
        background-image: url({% static 'public_good_kids/elephant.png' %});
        float: right;
    }

    .clear {
        clear:both;
    }
</style>
{% endblock %}


{% block content %}

<p>
    Bitte wähle deine Gruppe.
</p>

<div>
  <button id="elephant" class="otree-btn-next btn next-button otree-next-button" onclick="writeElephant()"></button>

  <button id="turtle" class="otree-btn-next btn next-button otree-next-button" onclick="writeTurtle()"></button>
  <div class="clear"></div>
</div>

<input type="hidden" name="animal" value="" id="animal"/>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

function writeElephant() {
  document.getElementById("animal").value = "Elefant";
}

function writeTurtle() {
  document.getElementById("animal").value = "Schildkröte";
}
</script>
{% endblock %}
