{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link href="{% static "public_good_kids/css/ActualGame.css" %}" rel="stylesheet" />
{% endblock %}


{% block content %}
{% include "StandardArea.html" %}
{% include "HiddenInput.html" %}
{% include "Timer.html" %}
{% endblock %}


{% block scripts %}
<script src="{% static "public_good_kids/js/Confirm.js" %}"></script>
<script src="{% static "public_good_kids/js/MoveCoins.js" %}"></script>
<script src="{% static "public_good_kids/js/Timer.js" %}"></script>
<script type="text/javascript">

document.getElementById('arrow-up').addEventListener("click", function() {moveToMain(moveAll=false, kStrategy=false);});
document.getElementById('arrow-down').addEventListener("click", function() {moveToOwn(moveAll=false, kStrategy=false);});
window.onload = initialize();


function initialize() {
	// starts audio, timer and sets arrows in place
	// also needed to initialize global variables
	try {

		document.getElementById("timeleft").style.visibility = 'visible';
		if (typeof coinCountdown === 'undefined') {
			if({{ roundnumber|json }} == 1) {
				var audio = new Audio('../../../../../static/public_good_kids/Ueberleitung_v2.mp3');
			  audio.play();

				setTimeout(playStart, 16000);
				setTimeout(showArrows, 16000);

	      // start timer
	      setTimeout(decreaseTimer, 16000);
			} else {
				playNext();
				showArrows();
				decreaseTimer();
			}


			// coin countdown to indicate if all coins are distributed
			coinCountdown = 1;

			// keep track of player's contribution
			contribution = 0;
		}

	}
	catch(err) {
	}
}

function playStart() {
	var audio = new Audio('../../../../../static/public_good_kids/Start_v1.mp3');
	audio.play();
}

function playNext() {
	var audio = new Audio('../../../../../static/public_good_kids/Next_v1.mp3');
	audio.play();
}

function showArrows() {
	// make arrows visible
	var arrows = document.getElementsByClassName('arrow');
	var i;
	for (i=0; i < arrows.length; i++) {
		arrows[i].style.visibility = 'visible';
	}
}

</script>
{% endblock %}
