{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style>
#flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.coins {
  width: 17%;
  margin: 1.5%;
  border-bottom: 20px solid white;
  align-self: center;
}

</style>
{% endblock %}


{% block content %}

<div id="flexcontainer"></div>
<div id="text"></div>


{% endblock %}

{% block scripts %}
<script>
window.onload = runAbschluss();

function runAbschluss(){
  //Abschluss
  var audio = new Audio('../../../../../static/public_good_kids/audio/Abschluss v2.mp3');
  audio.play();

  setTimeout(showPayOff, 8000);

}

function showPayOff() {
  var amount = Math.floor({{ finalpay|json }} / 2);
  var i;

  for (i = 1; i <= amount; i++) {
    // add coin pairs according to pay off
    var img = document.createElement("img");
    img.src = '../../../../../static/public_good_kids/img/twocoins.png';
    img.classList.add('coins');
    document.getElementById("flexcontainer").appendChild(img);
  }


  if ({{ finalpay|json }} % 2) {
    // odd amount of pay off -> add one extra coin (half of the image)
    var img = document.createElement("img");
    img.src = '../../../../../static/public_good_kids/img/twocoins.png';
    img.classList.add('coins');
    img.style.clipPath = "inset(0% 50% 0% 0%)";
    document.getElementById("flexcontainer").appendChild(img);
  }

  var paragraph = document.createElement('p');
  var node = document.createTextNode("{{finalpay}} Taler ({{pay_round_payoff}} aus Runde {{payround}} + {{dictator_share}} behalten, {{dictator_gift}} empfangen)");

  paragraph.appendChild(node);
  document.getElementById("text").appendChild(paragraph);
}

</script>
{% endblock %}
