{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style>
    .otree-btn-next {
        all: initial;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border: 0px;
        width: 300px;
        height: 500px;
    }

    #male {
        background: url({% static 'public_good_kids/male.png' %});
        background-repeat:no-repeat;
        background-size: contain;
        float: left;
    }

    #female {
        background: url({% static 'public_good_kids/female.png' %});
        background-repeat:no-repeat;
        background-size: contain;
        float: right;
    }

    .clear {
        clear:both;
    }
</style>
{% endblock %}


{% block content %}

<p>
    Bitte Geschlecht wählen.
</p>

<div>
  <button id="male" class="otree-btn-next btn next-button otree-next-button" onclick="write()"></button>

  <button id="female" class="otree-btn-next btn next-button otree-next-button" onclick="write()"></button>
  <div class="clear"></div>
</div>

<input type="hidden" name="gender" value="" id="gender"/>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

function write() {
  document.getElementById("gender").value = 'male';
}

</script>
{% endblock %}
