{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link href="{% static "public_good_kids/css/GenderAndID.css" %}" rel="stylesheet" />
{% endblock %}


{% block content %}

<input type="hidden" name="gender" value="" id="gender"/>

<p>
    Bitte Geschlecht auswählen:
</p>

<form>
<div id="content">

<label for="male">
  <input name="gender" type="radio" id="male" value="male"/>
  <img class="pictures" src="{% static 'public_good_kids/male.png' %}">
</label>

<label for="female">
  <input name="gender" type="radio" id="female" value="female"/>
  <img class="pictures" src="{% static 'public_good_kids/female.png' %}">
</label>

</div>
</form>


<br />
<p>
    Bitte ID eingeben:
</p>


<div id="input">
  <div class="result" id="result"></div>
  <div class="buttons">
    <span class="calcButton" onclick="setResult(7)">7</span>
    <span class="calcButton" onclick="setResult(8)">8</span>
    <span class="calcButton" onclick="setResult(9)">9</span>
    <span class="calcButton" onclick="setResult(4)">4</span>
    <span class="calcButton" onclick="setResult(5)">5</span>
    <span class="calcButton" onclick="setResult(6)">6</span>
    <span class="calcButton" onclick="setResult(1)">1</span>
    <span class="calcButton" onclick="setResult(2)">2</span>
    <span class="calcButton" onclick="setResult(3)">3</span>
    <span class="calcButton" onclick="setResult(0)">0</span>
    <span class="calcButton delete" onclick="deleteResult()">DEL</span>

  </div>
  <button id="okay" class="otree-btn-next btn next-button otree-next-button" onclick="writePlayerID()">OK</button>
</div>


<input type="hidden" name="playerID" value="" id="playerID"/>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

function writePlayerID() {
  document.getElementById("playerID").value = document.getElementById('result').innerHTML;
}

function setResult(x) {
  document.getElementById("okay").style.display = 'block';

  var oldContent = document.getElementById('result').innerHTML;
  document.getElementById('result').innerHTML = oldContent + x;
}

function deleteResult(x) {
  document.getElementById("okay").style.display = 'none';
  document.getElementById('result').innerHTML = '';
}

</script>
{% endblock %}
