{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link href="{% static "public_good_kids/css/ActualGame.css" %}" rel="stylesheet" />
<link href="{% static "public_good_kids/css/Instructions.css" %}" rel="stylesheet" />
{% endblock %}


{% block content %}
{% include "StandardArea.html" %}
{% endblock %}


{% block scripts %}
<script src="{% static "public_good_kids/js/Instructions.js" %}"></script>

<script>
	window.onload = runInstructions1a;
</script>
{% endblock %}
