{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block styles %}
<style>
    .otree-btn-next {
        all: initial;
        background-image: url({% static 'public_good_kids/confirm.png' %});
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border: 0px;
        width: 100px;
        height: 100px;
    }
</style>
{% endblock %}


{% block content %}

<audio autoplay="autoplay">
 <source src={% static 'public_good_kids/jingle.mp3' %} type="audio/mpeg">
 Your browser does not support the audio element.
</audio>

<p>
    Hier kommen die Instruktionen hin (aktuelles Audio nur zu Testzwecken). <br />
    Spieler in der Gruppe: {{ Constants.players_per_group }} <br />
    Münzpaare: {{ Constants.endowment }}
</p>






<button class="otree-btn-next btn next-button otree-next-button"></button>

{% endblock %}
