{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link href="{% static "public_good_kids/css/ActualGame.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% include "StandardArea.html" %}

<input type="hidden" value="0" name="contribution" id="contribution"/>
<input type="hidden" name="p_label" value="{{p_label}}" id="p_label"/>
<input type="hidden" name="gameTreatment" value="{{gameTreatment}}" id="gameTreatment"/>

<br />
<br />

<div id="timer">
  <div id="timeleft"></div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static "public_good_kids/js/Timer.js" %}"></script>
<script type="text/javascript">
window.onload = initialize();


function initialize() {
	// starts audio, timer and sets arrows in place
	// also needed to initialize global variables
	try {
		document.getElementById("timeleft").style.visibility = 'visible';
		if (typeof coinCountdown === 'undefined') {
			var audio = new Audio('../../../../../static/public_good_kids/KI_strategy_v2.mp3');
		  audio.play();

			setTimeout(distributeOtherCoins, 4000);
			setTimeout(showArrows, 21000);
			function showArrows() {
				// make arrows visible
				var arrows = document.getElementsByClassName('arrow');
				var i;
				for (i=0; i < arrows.length; i++) {
					arrows[i].style.visibility = 'visible';
				}
			}

      // start timer
      setTimeout(decreaseTimer, 21000);

			// coin countdown to indicate if all coins are distributed
			coinCountdown = 1;

			// keep track of player's contribution
			contribution = 0;
		}

	}
	catch(err) {
	}
}

function distributeOtherCoins() {
	var cl1 = document.getElementById('cl1');
	var cl2 = document.getElementById('cl2');
	var cl3 = document.getElementById('cl3');
	var cl4 = document.getElementById('cl4');
	var cl5 = document.getElementById('cl5');
	var ct1 = document.getElementById('ct1');
	var ct2 = document.getElementById('ct2');
	var ct3 = document.getElementById('ct3');
	var ct4 = document.getElementById('ct4');
	var ct5 = document.getElementById('ct5');
	var cr1 = document.getElementById('cr1');
	var cr2 = document.getElementById('cr2');
	var cr3 = document.getElementById('cr3');
	var cr4 = document.getElementById('cr4');
	var cr5 = document.getElementById('cr5');

	ct1.classList.remove("rotatedcoin");
	ct2.classList.remove("rotatedcoin");
	ct3.classList.remove("rotatedcoin");
	ct4.classList.remove("rotatedcoin");
	ct5.classList.remove("rotatedcoin");

	cl1.style.left = '2.5%';
	cl2.style.left = '6.5%';
	cl3.style.left = '10.5%';
	cl4.style.left = '14.5%';
	cl5.style.left = '18.5%';
	cl1.style.top = '55%';
	cl2.style.top = '55%';
	cl3.style.top = '55%';
	cl4.style.top = '55%';
	cl5.style.top = '55%';

	ct1.style.left = '40%';
	ct2.style.left = '44%';
	ct3.style.left = '48%';
	ct4.style.left = '52%';
	ct5.style.left = '56%';
	ct1.style.top = '40%';
	ct2.style.top = '40%';
	ct3.style.top = '40%';
	ct4.style.top = '40%';
	ct5.style.top = '40%';

	cr1.style.left = '93.5%';
	cr2.style.left = '89.5%';
	cr3.style.left = '85.5%';
	cr4.style.left = '81.5%';
	cr5.style.left = '77.5%';
	cr1.style.top = '55%';
	cr2.style.top = '55%';
	cr3.style.top = '55%';
	cr4.style.top = '55%';
	cr5.style.top = '55%';
}


function moveToMain() {
	// moves coin in mainpot
	try {
		var cb1 = document.getElementById('cb1');
		var cb2 = document.getElementById('cb2');
		var cb3 = document.getElementById('cb3');
		var cb4 = document.getElementById('cb4');
		var cb5 = document.getElementById('cb5');
		var confirm = document.getElementById('confirmbutton');

		if (coinCountdown == 1) {
			cb1.style.top = '61%';
			cb1.classList.add('maincoin');
			cb1.classList.remove("rotatedcoin");
			cb2.style.top = '61%';
			cb2.classList.add('maincoin');
			cb2.classList.remove("rotatedcoin");
			cb3.style.top = '61%';
			cb3.classList.add('maincoin');
			cb3.classList.remove("rotatedcoin");
			cb4.style.top = '61%';
			cb4.classList.add('maincoin');
			cb4.classList.remove("rotatedcoin");
			cb5.style.top = '61%';
			cb5.classList.add('maincoin');
			cb5.classList.remove("rotatedcoin");
			coinCountdown -= 1;
			contribution += 5;
			// show confirm button when all coins are distributed
			confirm.style.visibility = 'visible';

			/* not necessary
			// hide coins of other participants
			var othercoins = document.getElementsByClassName('hidaway');
			for (k=0; k < othercoins.length; k++) {
				othercoins[k].style.visibility = 'hidden';
			}
			*/
		} else {
			if (cb5.style.top != '61%') {
				cb5.style.top = '61%';
				cb5.classList.remove('owncoin');
				cb5.classList.add('maincoin');
				cb4.style.top = '61%';
				cb4.classList.remove('owncoin');
				cb4.classList.add('maincoin');
				cb3.style.top = '61%';
				cb3.classList.remove('owncoin');
				cb3.classList.add('maincoin');
				cb2.style.top = '61%';
				cb2.classList.remove('owncoin');
				cb2.classList.add('maincoin');
				cb1.style.top = '61%';
				cb1.classList.remove('owncoin');
				cb1.classList.add('maincoin');
				contribution += 5;
			}
		}
	}
	catch(err) {
	}
}

function moveToOwn() {
	// moves coin in own pot
	try {
		var cb1 = document.getElementById('cb1');
		var cb2 = document.getElementById('cb2');
		var cb3 = document.getElementById('cb3');
		var cb4 = document.getElementById('cb4');
		var cb5 = document.getElementById('cb5');
		var confirm = document.getElementById('confirmbutton');

		if (coinCountdown == 1) {
			cb1.style.top = '80%';
			cb1.classList.add('owncoin');
			cb1.classList.remove("rotatedcoin");
			cb2.style.top = '80%';
			cb2.classList.add('owncoin');
			cb2.classList.remove("rotatedcoin");
			cb3.style.top = '80%';
			cb3.classList.add('owncoin');
			cb3.classList.remove("rotatedcoin");
			cb4.style.top = '80%';
			cb4.classList.add('owncoin');
			cb4.classList.remove("rotatedcoin");
			cb5.style.top = '80%';
			cb5.classList.add('owncoin');
			cb5.classList.remove("rotatedcoin");
			coinCountdown -= 1;
			// show confirm button when all coins are distributed
			confirm.style.visibility = 'visible';

			/* not necessary
			// hide coins of other participants
			var othercoins = document.getElementsByClassName('hidaway');
			for (k=0; k < othercoins.length; k++) {
				othercoins[k].style.visibility = 'hidden';
			}
			*/
		} else {
			if (cb5.style.top != '80%') {
				cb5.style.top = '80%';
				cb5.classList.remove('maincoin');
				cb5.classList.add('owncoin');
				cb4.style.top = '80%';
				cb4.classList.remove('maincoin');
				cb4.classList.add('owncoin');
				cb3.style.top = '80%';
				cb3.classList.remove('maincoin');
				cb3.classList.add('owncoin');
				cb2.style.top = '80%';
				cb2.classList.remove('maincoin');
				cb2.classList.add('owncoin');
				cb1.style.top = '80%';
				cb1.classList.remove('maincoin');
				cb1.classList.add('owncoin');
				contribution -= 5;
			}
		}
	}
	catch(err) {
	}
}


function confirm() {
	try {
		// hide arrows
		document.getElementById('arrow-up').style.visibility = 'hidden';
		document.getElementById('arrow-down').style.visibility = 'hidden';

		// hide confirm button
		document.getElementById('confirmbutton').style.visibility = 'hidden';

    // write contribution in input field for database
    document.getElementById("contribution").value = contribution;

	}
	catch(err) {
	}
}

</script>
{% endblock %}
