{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block styles %}
<link href="{% static "public_good_kids/ActualGame.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id ="container">
	<!-- Geldtöpfe -->
	<div class="partner" id="partnerLeft"></div>
	<div class="partner" id ="partnerTop"></div>
	<div class="partner" id ="partnerRight"></div>
	<div class="partner" id ="partnerBottom"></div>

	<!-- Gemeinschaftstopf -->
	<div id="mainpot"></div>

	<!-- Spielerfiguren -->
	<img src={% static 'public_good_kids/figureyellow.png' %} class="figure figureLeft"/>
	<img src={% static 'public_good_kids/figuregreen.png' %} class="figure figureTop"/>
	<img src={% static 'public_good_kids/figurered.png' %} class="figure figureRight"/>
	<img src="{% static 'public_good_kids/figureblue.png' %}" class="figure figureBottom" onclick="initialize()"/>

  <!--Tierbilder -->
  <img src={% static imagepathleft %} class="animal animalLeft"/>
  <img src={% static imagepathtop %} class="animal animalTop"/>
  <img src={% static imagepathright %} class="animal animalRight"/>
  <img src={% static imagepathbottom %} class="animal animalBottom"/>

	<!-- Münzen links -->
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl1"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl2"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl3"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl4"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl5"/>

	<!-- Münzen oben -->
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway rotatedcoin" id="ct1"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway rotatedcoin" id="ct2"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway rotatedcoin" id="ct3"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway rotatedcoin" id="ct4"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway rotatedcoin" id="ct5"/>

	<!-- Münzen rechts -->
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr1"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr2"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr3"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr4"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr5"/>

	<!-- Münzen unten -->
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins rotatedcoin" id="cb1"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins rotatedcoin" id="cb2"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins rotatedcoin" id="cb3"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins rotatedcoin" id="cb4"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins rotatedcoin" id="cb5"/>

	<!-- Pfeile zum Münzen verteilen -->
	<img src={% static 'public_good_kids/arrowcolor.png' %} class="arrow" id="arrow-up"  onclick="moveToMain()"/>
	<img src={% static 'public_good_kids/arrowblue.png' %} class="arrow" id="arrow-down" onclick="moveToOwn()"/>

	<!-- Bestätigungs-Button -->
  <button class="otree-btn-next btn next-button otree-next-button" id="confirmbutton" onclick="confirm()"></button>
</div>
<input type="hidden" value="0" name="contribution" id="contribution"/>
<input type="hidden" name="p_label" value="{{p_label}}" id="p_label"/>
<input type="hidden" name="gameTreatment" value="{{gameTreatment}}" id="gameTreatment"/>
<input type="hidden" name="groupTreatment" value="{{groupTreatment}}" id="groupTreatment"/>

<br />
<br />

<div id="timer">
  <div id="timeleft"></div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
window.onload = initialize();

function decreaseTimer() {
  var elem = document.getElementById("timeleft");
  var width = 100;
  var id = setInterval(frame, 300); // decrease by 1% every 0.3 sec
  function frame() {
    if (width <= 0) {
        clearInterval(id);
    } else {
        width--;
        elem.style.width = width + '%';
    }
  }

	setTimeout(startReminder, 28000);
	function startReminder() {
		var audio = new Audio('../../../../../static/public_good_kids/Erinnerung_v2.mp3');
	  audio.play();
	}
}


function initialize() {
	// starts audio, timer and sets arrows in place
	// also needed to initialize global variables
	try {
		document.getElementById("timeleft").style.visibility = 'visible';
		if (typeof coinCountdown === 'undefined') {
			var audio = new Audio('../../../../../static/public_good_kids/KII_strategy_v2.mp3');
		  audio.play();

			setTimeout(distributeOtherCoins, 3000);
			setTimeout(showArrows, 15000);
			function showArrows() {
				// make arrows visible
				var arrows = document.getElementsByClassName('arrow');
				var i;
				for (i=0; i < arrows.length; i++) {
					arrows[i].style.visibility = 'visible';
				}
			}

      // start timer
      setTimeout(decreaseTimer, 15000);

			// coin countdown to indicate if all coins are distributed
			coinCountdown = 1;

			// keep track of player's contribution
			contribution = 0;
		}

	}
	catch(err) {
	}
}

function distributeOtherCoins() {
	var cl1 = document.getElementById('cl1');
	var cl2 = document.getElementById('cl2');
	var cl3 = document.getElementById('cl3');
	var cl4 = document.getElementById('cl4');
	var cl5 = document.getElementById('cl5');
	var ct1 = document.getElementById('ct1');
	var ct2 = document.getElementById('ct2');
	var ct3 = document.getElementById('ct3');
	var ct4 = document.getElementById('ct4');
	var ct5 = document.getElementById('ct5');
	var cr1 = document.getElementById('cr1');
	var cr2 = document.getElementById('cr2');
	var cr3 = document.getElementById('cr3');
	var cr4 = document.getElementById('cr4');
	var cr5 = document.getElementById('cr5');

	ct1.classList.remove("rotatedcoin");
	ct2.classList.remove("rotatedcoin");
	ct3.classList.remove("rotatedcoin");
	ct4.classList.remove("rotatedcoin");
	ct5.classList.remove("rotatedcoin");

	cl1.style.left = '40%';
	cl2.style.left = '44%';
	cl3.style.left = '48%';
	cl4.style.left = '52%';
	cl5.style.left = '56%';
	cl1.style.top = '51%';
	cl2.style.top = '51%';
	cl3.style.top = '51%';
	cl4.style.top = '51%';
	cl5.style.top = '51%';

	ct1.style.left = '40%';
	ct2.style.left = '44%';
	ct3.style.left = '48%';
	ct4.style.left = '52%';
	ct5.style.left = '56%';
	ct1.style.top = '47%';
	ct2.style.top = '47%';
	ct3.style.top = '47%';
	ct4.style.top = '47%';
	ct5.style.top = '47%';

	cr1.style.left = '93.5%';
	cr2.style.left = '89.5%';
	cr3.style.left = '85.5%';
	cr4.style.left = '81.5%';
	cr5.style.left = '77.5%';
	cr1.style.top = '55%';
	cr2.style.top = '55%';
	cr3.style.top = '55%';
	cr4.style.top = '55%';
	cr5.style.top = '55%';
}


function moveToMain() {
	// moves coin in mainpot
	try {
		var cb1 = document.getElementById('cb1');
		var cb2 = document.getElementById('cb2');
		var cb3 = document.getElementById('cb3');
		var cb4 = document.getElementById('cb4');
		var cb5 = document.getElementById('cb5');
		var confirm = document.getElementById('confirmbutton');

		if (coinCountdown == 1) {
			cb1.style.top = '61%';
			cb1.classList.add('maincoin');
			cb1.classList.remove("rotatedcoin");
			cb2.style.top = '61%';
			cb2.classList.add('maincoin');
			cb2.classList.remove("rotatedcoin");
			cb3.style.top = '61%';
			cb3.classList.add('maincoin');
			cb3.classList.remove("rotatedcoin");
			cb4.style.top = '61%';
			cb4.classList.add('maincoin');
			cb4.classList.remove("rotatedcoin");
			cb5.style.top = '61%';
			cb5.classList.add('maincoin');
			cb5.classList.remove("rotatedcoin");
			coinCountdown -= 1;
			contribution += 5;
			// show confirm button when all coins are distributed
			confirm.style.visibility = 'visible';

			/* not necessary
			// hide coins of other participants
			var othercoins = document.getElementsByClassName('hidaway');
			for (k=0; k < othercoins.length; k++) {
				othercoins[k].style.visibility = 'hidden';
			}
			*/
		} else {
			if (cb5.style.top != '61%') {
				cb5.style.top = '61%';
				cb5.classList.remove('owncoin');
				cb5.classList.add('maincoin');
				cb4.style.top = '61%';
				cb4.classList.remove('owncoin');
				cb4.classList.add('maincoin');
				cb3.style.top = '61%';
				cb3.classList.remove('owncoin');
				cb3.classList.add('maincoin');
				cb2.style.top = '61%';
				cb2.classList.remove('owncoin');
				cb2.classList.add('maincoin');
				cb1.style.top = '61%';
				cb1.classList.remove('owncoin');
				cb1.classList.add('maincoin');
				contribution += 5;
			}
		}
	}
	catch(err) {
	}
}

function moveToOwn() {
	// moves coin in own pot
	try {
		var cb1 = document.getElementById('cb1');
		var cb2 = document.getElementById('cb2');
		var cb3 = document.getElementById('cb3');
		var cb4 = document.getElementById('cb4');
		var cb5 = document.getElementById('cb5');
		var confirm = document.getElementById('confirmbutton');

		if (coinCountdown == 1) {
			cb1.style.top = '80%';
			cb1.classList.add('owncoin');
			cb1.classList.remove("rotatedcoin");
			cb2.style.top = '80%';
			cb2.classList.add('owncoin');
			cb2.classList.remove("rotatedcoin");
			cb3.style.top = '80%';
			cb3.classList.add('owncoin');
			cb3.classList.remove("rotatedcoin");
			cb4.style.top = '80%';
			cb4.classList.add('owncoin');
			cb4.classList.remove("rotatedcoin");
			cb5.style.top = '80%';
			cb5.classList.add('owncoin');
			cb5.classList.remove("rotatedcoin");
			coinCountdown -= 1;
			// show confirm button when all coins are distributed
			confirm.style.visibility = 'visible';

			/* not necessary
			// hide coins of other participants
			var othercoins = document.getElementsByClassName('hidaway');
			for (k=0; k < othercoins.length; k++) {
				othercoins[k].style.visibility = 'hidden';
			}
			*/
		} else {
			if (cb5.style.top != '80%') {
				cb5.style.top = '80%';
				cb5.classList.remove('maincoin');
				cb5.classList.add('owncoin');
				cb4.style.top = '80%';
				cb4.classList.remove('maincoin');
				cb4.classList.add('owncoin');
				cb3.style.top = '80%';
				cb3.classList.remove('maincoin');
				cb3.classList.add('owncoin');
				cb2.style.top = '80%';
				cb2.classList.remove('maincoin');
				cb2.classList.add('owncoin');
				cb1.style.top = '80%';
				cb1.classList.remove('maincoin');
				cb1.classList.add('owncoin');
				contribution -= 5;
			}
		}
	}
	catch(err) {
	}
}


function confirm() {
	try {
		// hide arrows
		document.getElementById('arrow-up').style.visibility = 'hidden';
		document.getElementById('arrow-down').style.visibility = 'hidden';

		// hide confirm button
		document.getElementById('confirmbutton').style.visibility = 'hidden';

    // write contribution in input field for database
    document.getElementById("contribution").value = contribution;

	}
	catch(err) {
	}
}

</script>
{% endblock %}
