{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link href="{% static "public_good_kids/css/ActualGame.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% include "StandardArea.html" %}
{% include "HiddenInput.html" %}
{% include "Timer.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static "public_good_kids/js/Confirm.js" %}"></script>
<script src="{% static "public_good_kids/js/KStrategy.js" %}"></script>
<script src="{% static "public_good_kids/js/MoveCoins.js" %}"></script>
<script src="{% static "public_good_kids/js/Timer.js" %}"></script>

<script type="text/javascript">
document.getElementById('arrow-up').addEventListener("click", function() {moveToMain(moveAll=true, kStrategy=true);});
document.getElementById('arrow-down').addEventListener("click", function() {moveToOwn(moveAll=true, kStrategy=true);});
window.onload = initialize();


function initialize() {
	// starts audio, timer and sets arrows in place
	// also needed to initialize global variables
	try {
		document.getElementById("timeleft").style.visibility = 'visible';
		if (typeof coinCountdown === 'undefined') {
			var audio = new Audio('../../../../../static/public_good_kids/audio/KIII_strategy v2.mp3');
		  audio.play();

			setTimeout(distributeOtherCoins.bind(null, 3), 3000);
			setTimeout(showArrows, 16000);

      // start timer
      setTimeout(decreaseTimer, 16000);

			// coin countdown to indicate if all coins are distributed
			coinCountdown = 1;

			// keep track of player's contribution
			contribution = 0;
		}

	}
	catch(err) {
	}
}

</script>
{% endblock %}
