{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link href="{% static "public_good_kids/css/ActualGame.css" %}" rel="stylesheet" />
<link href="{% static "public_good_kids/css/NotUnderstood.css" %}" rel="stylesheet" />
{% endblock %}


{% block content %}
{% include "StandardArea.html" %}


<div id="center" class="centered showThis" onclick="toggleView()">
  <img src="{% static 'public_good_kids/img/handraised.png' %}" alt="raised hand" id="hand"/>
</div>


<div class="centered">
  <input type="password" id="password" size="5" maxlength="5" oninput="checkPassword()">
</div>

{% endblock %}


{% block scripts %}
<script src="{% static "public_good_kids/js/NotUnderstood.js" %}"></script>

<script type="text/javascript">
window.onload = playAudio;
</script>
{% endblock %}
