{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<div id ="container">
	<!-- Geldtöpfe -->
	<div class="partner" id="partnerLeft"></div>
	<div class="partner" id ="partnerTop"></div>
	<div class="partner" id ="partnerRight"></div>
	<div class="partner" id ="partnerBottom"></div>

	<!-- Gemeinschaftstopf -->
	<div id="mainpot"></div>

	<!-- Spielerfiguren -->
	<img src={% static 'public_good_kids/figureyellow.png' %} class="figure figureLeft"/>
	<img src={% static 'public_good_kids/figuregreen.png' %} class="figure figureTop"/>
	<img src={% static 'public_good_kids/figurered.png' %} class="figure figureRight"/>
	<img src="{% static 'public_good_kids/figureblue.png' %}" class="figure figureBottom" onclick="releaseCoins()"/>

  <!--Tierbilder -->
  <img src={% static imagepathleft %} class="animal animalLeft"/>
  <img src={% static imagepathtop %} class="animal animalTop"/>
  <img src={% static imagepathright %} class="animal animalRight"/>
  <img src={% static imagepathbottom %} class="animal animalBottom"/>

	<!-- Münzen links -->
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl1"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl2"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl3"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl4"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cl5"/>

	<!-- Münzen oben -->
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="ct1"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="ct2"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="ct3"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="ct4"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="ct5"/>

	<!-- Münzen rechts -->
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr1"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr2"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr3"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr4"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hidaway" id="cr5"/>

	<!-- Münzen unten -->
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hiddenCoin" id="cb1"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hiddenCoin" id="cb2"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hiddenCoin" id="cb3"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hiddenCoin" id="cb4"/>
	<img src={% static 'public_good_kids/twocoins.png' %} class="coins hiddenCoin" id="cb5"/>

	<!-- Pfeile zum Münzen verteilen -->
	<img src={% static 'public_good_kids/arrowcolor.png' %} class="arrow" id="arrow-up"  onclick="moveToMain()"/>
	<img src={% static 'public_good_kids/arrowblue.png' %} class="arrow" id="arrow-down" onclick="moveToOwn()"/>

	<!-- Bestätigungs-Button -->
  <button class="otree-btn-next btn next-button otree-next-button" id="confirmbutton" onclick="confirm()"></button>
</div>

<br />
<br />

<!-- Zeitfortschritts-Balken -->
<div id="timer">
  <div id="timeleft"></div>
</div>

{% endblock %}



{% block styles %}
<style>
#timer {
  width: 800px;
  height: 25px;
  background-color: white;
}

#timeleft {
  width: 100%;
  height: 100%;
  background-color: green;
  transition: width 0.3s linear;
  visibility: hidden;
}

#container {
  /* gesamte Spielfläche */
  width: 800px;
  height: 800px;
  position: relative;
  border: solid black;
}

.partner {
  /* Geldtöpfe */
  border-radius: 15%;
  width: 20%;
  height: 20%;
  position: absolute;
  z-index: -2;
}

#partnerLeft {
  /* Geldtopf links */
  background-color: rgb(255,255,1);
  top: 40%;
  left: 2.5%;
}

#partnerTop {
  /* Geldtopf oben */
  background-color: rgb(98,190,1);
  top: 2.5%;
  left: 40%;
}

#partnerRight {
  /* Geldtopf rechts */
  background-color: rgb(192,0,0);
  top: 40%;
  right: 2.5%;
}

#partnerBottom {
  /* Geldtopf unten */
  left: 40%;
  bottom: 2.5%;
  background-color: rgb(104,132,195);
}

#mainpot {
  /* Gemeinschaftseldtopf in der Mitte */
  border-radius: 15%;
  width: 30%;
  height: 30%;
  left: 35%;
  top: 35%;
  position: absolute;
  background-image: url({% static 'public_good_kids/main.png' %});
  background-position: center;
}

.figure {
  /* Spielerfiguren neben den Töpfen */
  height: 10%;
  position: absolute;
  z-index: 2;
}

.figureLeft {
  top: 35%;
  left: 23%;
}

.figureTop {
  top: 22%;
  left: 59%;
}

.figureRight {
  top: 55%;
  left: 71%;
}

.figureBottom {
  top: 68%;
  left: 35%;
}

.animal {
  /* Tierfiguren neben den Spielfiguren */
  width: 8%;
  position: absolute;
  z-index: 1;
}

.animalLeft {
  top: 34%;
  left: 15%;
}

.animalTop {
  top: 16%;
  left: 61%;
}

.animalRight {
  top: 61%;
  left: 78%;
}

.animalBottom {
  top: 80%;
  left: 31%;
}

.coins {
  width: 4%;
  position: absolute;
  transition: all 1.5s;
}

#cl1 {
  top: 41%;
  left: 27%;
}

#cl2 {
  top: 44.5%;
  left: 27%;
}

#cl3 {
  top: 48%;
  left: 27%;
}

#cl4 {
  top: 51.5%;
  left: 27%;
}

#cl5 {
  top: 55%;
  left: 27%;
}

#ct1 {
  top: 27%;
  left: 40%;
}

#ct2 {
  top: 27%;
  left: 44%;
}

#ct3 {
  top: 27%;
  left: 48%;
}

#ct4 {
  top: 27%;
  left: 52%;
}

#ct5 {
  top: 27%;
  left: 56%;
}

#cr1 {
  top: 41%;
  left: 70%;
}

#cr2 {
  top: 44.5%;
  left: 70%;
}

#cr3 {
  top: 48%;
  left: 70%;
}

#cr4 {
  top: 51.5%;
  left: 70%;
}

#cr5 {
  top: 55%;
  left: 70%;
}

#cb1 {
  top: 70%;
  left: 40%;
}

#cb2 {
  top: 70%;
  left: 44%;
}

#cb3 {
  top: 70%;
  left: 48%;
}

#cb4 {
  top: 70%;
  left: 52%;
}

#cb5 {
  top: 70%;
  left: 56%;
}

.hiddenCoin {
  visibility: hidden;
}

.arrow {
  /* Pfeile zum Verteilen der Münzen */
  position: absolute;
  left: 47%;
  height: 6%;
  visibility: hidden;
  /* img in den Vordergrund */
  z-index: 1;
  transition: all 1s;
}

#arrow-up {
  /* Pfeil Richtung Geldtopf in der Mitte */
  top: 62.5%;
}

#arrow-down {
  /* Pfeil Richtung Geldtopf unten */
  transform: rotate(180deg);
  top: 74.5%;
}

.otree-btn-next {
    all: initial;
    background-image: url({% static 'public_good_kids/confirm.png' %});
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#confirmbutton {
  /* Button, der Auswahl bestätigt */
  width: 10%;
  height: 10%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  visibility: hidden;
  transition: all 1s;
  transition-timing-function: ease;
}

</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
window.onload = releaseCoins();

function showTimer() {
  document.getElementById("timeleft").style.visibility = 'visible';
}

function decreaseTimer() {
  var elem = document.getElementById("timeleft");
  var width = 100;
  var id = setInterval(frame, 300); // decrease by 1% every 0.3 sec
  function frame() {
    if (width <= 0) {
        clearInterval(id);
    } else {
        width--;
        elem.style.width = width + '%';
    }
  }
}


function releaseCoins() {
	// sets players coins in place
	// also needed to initialize global variables
	try {
		if (typeof coinCountdown === 'undefined') {
			// make arrows visible
			var arrows = document.getElementsByClassName('arrow');
			var i;
			for (i=0; i < arrows.length; i++) {
				arrows[i].style.visibility = 'visible';
			}

			// make coins visible
			var coins = document.getElementsByClassName('hiddenCoin');
			var j;
			for (j=0; j < coins.length; j++) {
				coins[j].style.visibility = 'visible';
			}

      // start instructions
      setTimeout(runInstructions4, 2000);

			// coin countdown to indicate if all coins are distributed
			coinCountdown = 1;

      // variable to deduct if Instructions5 are ready to be played
      instructions4Done = false;
      instructions5Played = false;
      allDistributed = false;

		}

	}
	catch(err) {
	}
}


function runInstructions4() {
  var audio = new Audio('../../../../../static/public_good_kids/Instruktion4_v1.mp3');
  audio.play();

  setTimeout(highlightArrowUp, 11000);
  setTimeout(highlightArrowDown, 18000);
  setTimeout(showTimer, 51500);
  setTimeout(decreaseTimer, 61500);
  setTimeout(switchToTrue, 67000);

  setTimeout(runInstructions5, 69000);

}

function switchToTrue() {
  instructions4Done = true;
  console.log("switch to true instructions4Done: " + instructions4Done);
}

function highlightArrowUp() {
  var elem = document.getElementById("arrow-up");
  elem.style.transform = 'rotate(360deg)';
  elem.style.left = '43%';
  elem.style.height = '15%';
  elem.style.top = '60%';

  setTimeout(dehighlightArrowUp, 3200);
}

function dehighlightArrowUp() {
  var elem = document.getElementById("arrow-up");
  elem.style.transform = 'rotate(-360deg)';
  elem.style.left = '47%';
  elem.style.height = '6%';
  elem.style.top = '62.5%';
}

function highlightArrowDown() {
  var elem = document.getElementById("arrow-down");
  elem.style.transform = 'rotate(540deg)';
  elem.style.left = '43%';
  elem.style.height = '15%';
  elem.style.top =

  setTimeout(dehighlightArrowDown, 3200);
}

function dehighlightArrowDown() {
  var elem = document.getElementById("arrow-down");
  elem.style.transform = 'rotate(-180deg)';
  elem.style.left = '47%';
  elem.style.height = '6%';
  elem.style.top = '74.5%';
}

function runInstructions5() {
  console.log("allDistributed: " + allDistributed + "  instructions4Done: " + instructions4Done);
  if (instructions4Done && !instructions5Played && allDistributed) {
    instructions5Played = true;
    var audio = new Audio('../../../../../static/public_good_kids/Instruktion5_v1.mp3');
    audio.play();
    document.getElementById('confirmbutton').style.visibility = 'visible';
    setTimeout(highlightConfirm, 5000);
  }
}

function highlightConfirm() {
  console.log("highlightconfirm");
  var elem = document.getElementById("confirmbutton");
  elem.style.transform = 'scale(3,3)';

  setTimeout(dehighlightConfirm, 1500);
}

function dehighlightConfirm() {
  var elem = document.getElementById("confirmbutton");
  elem.style.transform = 'scale(1,1)';
}


function moveToMain() {
	// moves coin in mainpot
	try {
		var cb1 = document.getElementById('cb1');
		var cb2 = document.getElementById('cb2');
		var cb3 = document.getElementById('cb3');
		var cb4 = document.getElementById('cb4');
		var cb5 = document.getElementById('cb5');

		if (coinCountdown == 1) {
			cb1.style.top = '61%';
			coinCountdown += 1;
		} else if (coinCountdown == 2) {
			cb2.style.top = '61%';
			coinCountdown += 1;
		} else if (coinCountdown == 3) {
			cb3.style.top = '61%';
			coinCountdown += 1;
		} else if (coinCountdown == 4) {
			cb4.style.top = '61%';
			coinCountdown += 1;
		} else if (coinCountdown == 5) {
      allDistributed = true;
			cb5.style.top = '61%';
			coinCountdown += 1;

			// hide coins of other participants
			var othercoins = document.getElementsByClassName('hidaway');
			for (k=0; k < othercoins.length; k++) {
				othercoins[k].style.visibility = 'hidden';
			}
      // play further instructions
      runInstructions5();

		} else {
			if (cb5.style.top != '61%') {
				cb5.style.top = '61%';
			} else if (cb4.style.top != '61%') {
				cb4.style.top = '61%';
			} else if (cb3.style.top != '61%') {
				cb3.style.top = '61%';
			} else if (cb2.style.top != '61%') {
				cb2.style.top = '61%';
			} else if (cb1.style.top != '61%') {
				cb1.style.top = '61%';
			}
		}
	}
	catch(err) {
	}
}

function moveToOwn() {
	// moves coin in own pot
	try {
		var cb1 = document.getElementById('cb1');
		var cb2 = document.getElementById('cb2');
		var cb3 = document.getElementById('cb3');
		var cb4 = document.getElementById('cb4');
		var cb5 = document.getElementById('cb5');

		if (coinCountdown == 1) {
			cb1.style.top = '80%';
			coinCountdown += 1;
		} else if (coinCountdown == 2) {
			cb2.style.top = '80%';
			coinCountdown += 1;
		} else if (coinCountdown == 3) {
			cb3.style.top = '80%';
			coinCountdown += 1;
		} else if (coinCountdown == 4) {
			cb4.style.top = '80%';
			coinCountdown += 1;
		} else if (coinCountdown == 5) {
      allDistributed = true;
			cb5.style.top = '80%';
			coinCountdown += 1;

			// hide coins of other participants
			var othercoins = document.getElementsByClassName('hidaway');
			for (k=0; k < othercoins.length; k++) {
				othercoins[k].style.visibility = 'hidden';
			}

      // play further instructions
      runInstructions5();
		} else {
			if (cb5.style.top != '80%') {
				cb5.style.top = '80%';
			} else if (cb4.style.top != '80%') {
				cb4.style.top = '80%';
			} else if (cb3.style.top != '80%') {
				cb3.style.top = '80%';
			} else if (cb2.style.top != '80%') {
				cb2.style.top = '80%';
			} else if (cb1.style.top != '80%') {
				cb1.style.top = '80%';
			}
		}
	}
	catch(err) {
	}
}


function confirm() {
	try {
		// hide arrows
		document.getElementById('arrow-up').style.visibility = 'hidden';
		document.getElementById('arrow-down').style.visibility = 'hidden';

		// hide confirm button
		document.getElementById('confirmbutton').style.visibility = 'hidden';
	}
	catch(err) {
	}
}

</script>
{% endblock %}
