{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link href="{% static "public_good_kids/css/ActualGame.css" %}" rel="stylesheet" />
<link href="{% static "public_good_kids/css/TestRun.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% include "StandardArea.html" %}

<br />
<br />

<!-- Zeitfortschritts-Balken -->
<div id="timer">
  <div id="timeleft"></div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static "public_good_kids/js/TestRun.js" %}"></script>
<script type="text/javascript">
window.onload = releaseCoins;
</script>
{% endblock %}
