{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link href="{% static "public_good_kids/css/ActualGame.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% include "StandardArea.html" %}

<input type="hidden" value="0" name="contribution" id="contribution"/>
<input type="hidden" name="p_label" value="{{p_label}}" id="p_label"/>
<input type="hidden" name="gameTreatment" value="{{gameTreatment}}" id="gameTreatment"/>

<br />
<br />

<div id="timer">
  <div id="timeleft"></div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
window.onload = initialize();

function decreaseTimer() {
  var elem = document.getElementById("timeleft");
  var width = 100;
  var id = setInterval(frame, 300); // decrease by 1% every 0.3 sec
  function frame() {
    if (width <= 0) {
        clearInterval(id);
    } else {
        width--;
        elem.style.width = width + '%';
    }
  }

	setTimeout(startReminder, 28000);

	var warned = false;
	function startReminder() {
		var audio = new Audio('../../../../../static/public_good_kids/Erinnerung_v2.mp3');
	  audio.play();

		if (!warned) {
			var img = document.createElement("img");
	    img.src = '../../../../../static/public_good_kids/exclamation.png';
			img.classList.add('fixtopright');
			document.body.appendChild(img);
			warned = true;
		}

		setTimeout(startReminder, 25000);
	}
}


function initialize() {
	// starts audio, timer and sets arrows in place
	// also needed to initialize global variables
	try {
		document.getElementById("timeleft").style.visibility = 'visible';
		if (typeof coinCountdown === 'undefined') {
			var audio = new Audio('../../../../../static/public_good_kids/UK_strategy_v2.mp3');
		  audio.play();

			setTimeout(runExampleToOwn, 8000);
			setTimeout(runExampleToMain, 15000);
			setTimeout(resetExample, 18500);


			setTimeout(showArrows, 20000);
			function showArrows() {
				// make arrows visible
				var arrows = document.getElementsByClassName('arrow');
				var i;
				for (i=0; i < arrows.length; i++) {
					arrows[i].style.visibility = 'visible';
				}
			}

      // start timer
      setTimeout(decreaseTimer, 20000);

			// coin countdown to indicate if all coins are distributed
			coinCountdown = 1;

			// keep track of player's contribution
			contribution = 0;
		}

	}
	catch(err) {
	}
}


function runExampleToOwn() {
	cb1.style.top = '80%';
	cb1.classList.remove("rotatedcoin");
	cb2.style.top = '80%';
	cb2.classList.remove("rotatedcoin");
	cb3.style.top = '80%';
	cb3.classList.remove("rotatedcoin");
	cb4.style.top = '80%';
	cb4.classList.remove("rotatedcoin");
	cb5.style.top = '80%';
	cb5.classList.remove("rotatedcoin");
}

function runExampleToMain() {
	var cb1 = document.getElementById('cb1');
	var cb2 = document.getElementById('cb2');
	var cb3 = document.getElementById('cb3');
	var cb4 = document.getElementById('cb4');
	var cb5 = document.getElementById('cb5');
	cb1.style.top = '61%';
	cb2.style.top = '61%';
	cb3.style.top = '61%';
	cb4.style.top = '61%';
	cb5.style.top = '61%';
}

function resetExample() {
	var cb1 = document.getElementById('cb1');
	var cb2 = document.getElementById('cb2');
	var cb3 = document.getElementById('cb3');
	var cb4 = document.getElementById('cb4');
	var cb5 = document.getElementById('cb5');
	cb1.style.top = '70%';
	cb1.classList.add("rotatedcoin");
	cb2.style.top = '70%';
	cb2.classList.add("rotatedcoin");
	cb3.style.top = '70%';
	cb3.classList.add("rotatedcoin");
	cb4.style.top = '70%';
	cb4.classList.add("rotatedcoin");
	cb5.style.top = '70%';
	cb5.classList.add("rotatedcoin");
}

function moveToMain() {
	// moves coin in mainpot
	try {
		var cb1 = document.getElementById('cb1');
		var cb2 = document.getElementById('cb2');
		var cb3 = document.getElementById('cb3');
		var cb4 = document.getElementById('cb4');
		var cb5 = document.getElementById('cb5');
		var confirm = document.getElementById('confirmbutton');

		if (coinCountdown == 1) {
			cb1.style.top = '61%';
			cb1.classList.add('maincoin');
			cb1.classList.remove("rotatedcoin");
			cb2.style.top = '61%';
			cb2.classList.add('maincoin');
			cb2.classList.remove("rotatedcoin");
			cb3.style.top = '61%';
			cb3.classList.add('maincoin');
			cb3.classList.remove("rotatedcoin");
			cb4.style.top = '61%';
			cb4.classList.add('maincoin');
			cb4.classList.remove("rotatedcoin");
			cb5.style.top = '61%';
			cb5.classList.add('maincoin');
			cb5.classList.remove("rotatedcoin");
			coinCountdown -= 1;
			contribution += 5;
			// show confirm button when all coins are distributed
			confirm.style.visibility = 'visible';
			// hide coins of other participants
			var othercoins = document.getElementsByClassName('hidaway');
			for (k=0; k < othercoins.length; k++) {
				othercoins[k].style.visibility = 'hidden';
			}
		} else {
			if (cb5.style.top != '61%') {
				cb5.style.top = '61%';
				cb5.classList.remove('owncoin');
				cb5.classList.add('maincoin');
				cb4.style.top = '61%';
				cb4.classList.remove('owncoin');
				cb4.classList.add('maincoin');
				cb3.style.top = '61%';
				cb3.classList.remove('owncoin');
				cb3.classList.add('maincoin');
				cb2.style.top = '61%';
				cb2.classList.remove('owncoin');
				cb2.classList.add('maincoin');
				cb1.style.top = '61%';
				cb1.classList.remove('owncoin');
				cb1.classList.add('maincoin');
				contribution += 5;
			}
		}
	}
	catch(err) {
	}
}

function moveToOwn() {
	// moves coin in own pot
	try {
		var cb1 = document.getElementById('cb1');
		var cb2 = document.getElementById('cb2');
		var cb3 = document.getElementById('cb3');
		var cb4 = document.getElementById('cb4');
		var cb5 = document.getElementById('cb5');
		var confirm = document.getElementById('confirmbutton');

		if (coinCountdown == 1) {
			cb1.style.top = '80%';
			cb1.classList.add('owncoin');
			cb1.classList.remove("rotatedcoin");
			cb2.style.top = '80%';
			cb2.classList.add('owncoin');
			cb2.classList.remove("rotatedcoin");
			cb3.style.top = '80%';
			cb3.classList.add('owncoin');
			cb3.classList.remove("rotatedcoin");
			cb4.style.top = '80%';
			cb4.classList.add('owncoin');
			cb4.classList.remove("rotatedcoin");
			cb5.style.top = '80%';
			cb5.classList.add('owncoin');
			cb5.classList.remove("rotatedcoin");
			coinCountdown -= 1;
			// show confirm button when all coins are distributed
			confirm.style.visibility = 'visible';
			// hide coins of other participants
			var othercoins = document.getElementsByClassName('hidaway');
			for (k=0; k < othercoins.length; k++) {
				othercoins[k].style.visibility = 'hidden';
			}
		} else {
			if (cb5.style.top != '80%') {
				cb5.style.top = '80%';
				cb5.classList.remove('maincoin');
				cb5.classList.add('owncoin');
				cb4.style.top = '80%';
				cb4.classList.remove('maincoin');
				cb4.classList.add('owncoin');
				cb3.style.top = '80%';
				cb3.classList.remove('maincoin');
				cb3.classList.add('owncoin');
				cb2.style.top = '80%';
				cb2.classList.remove('maincoin');
				cb2.classList.add('owncoin');
				cb1.style.top = '80%';
				cb1.classList.remove('maincoin');
				cb1.classList.add('owncoin');
				contribution -= 5;
			}
		}
	}
	catch(err) {
	}
}


function confirm() {
	try {
		// hide arrows
		document.getElementById('arrow-up').style.visibility = 'hidden';
		document.getElementById('arrow-down').style.visibility = 'hidden';

		// hide confirm button
		document.getElementById('confirmbutton').style.visibility = 'hidden';

    // write contribution in input field for database
    document.getElementById("contribution").value = contribution;

	}
	catch(err) {
	}
}

</script>
{% endblock %}
